<section class="py-5">
    <div class="row">
        <div class="col-8 pe-5">
            <!-- <span class="mb-5 d-block">2.	Optimize Operations and Performance Management</span>
       <p class="index">1.</p> -->

            <div>
                <h1>2. Optimize Operations and Performance Management</h1>
                <p>The benefits of OneLayer’s enhanced visibility and control extend beyond security to other critical
                    areas, including cellular network operations. Enhanced cellular network troubleshooting capabilities
                    optimize network uptime and performance and reduce operational resource burden. .</p>
            </div>
            <div class="bg1 px-5 py-4 mb-3">
                <span class="text-uppercase fw-bold mb-4 d-block">Business Impact</span>
                <p>Maximize device performance over existing network infrastructure.</p>
                <p>Increases network availability. Pinpoints and resolves network performance issues faster.</p>
                <p>Enhances capabilities and reduces operational costs through process automation.</p>
                <p>Reduces software, hardware, log storage, system administration, and energy costs by avoiding
                    unnecessary on-premises infrastructure.</p>
            </div>

            <div class="content my-5">
                <h4 class="mb-3">2.1. Increased Uptime/Enhanced Fault-Finding Capabilities</h4>
                <p>2.1.1 &nbsp; To quantify these capabilities’ value, we used a formula, looking at the overall
                    security measurements of an organization for securing its overall network (IT/OT/Private cellular),
                    and at the cost of downtime, adapted to the network size.Most utilities already have a variety of
                    enterprise networks and legacy operational technology (OT) networks in use. The utility industry has
                    well-established practices for securing these networks, including the Purdue Model, Zero Trust
                    Architecture principles, and best practices like visibility, security monitoring, and breach
                    detection. But unfortunately, these practices cannot be extended to LTE networks due to significant
                    architectural differences that create security blind spots and other new risks to critical
                    infrastructure.</p>
                <p>2.1.2 &nbsp; With OneLayer’s solution, you’ll find malfunctioning devices and resolve network issues
                    faster across your private cellular network and increase the uptime of your network and services.
                </p>
                <p>OneLayer product provides the following capabilities and value, and much more:</p>
                <ul class="ms-5">
                    <li>Increase network availability. Pinpoint and resolve network performance issues faster. e.g.,
                        easily find a component that is not transmitting, reduce the time it takes to find the route
                        caused an error (not the time of fix)</li>
                    <li> Fasten root cause analysis – understand where the problem is. Crossing network captures/IDs
                        etc., correlating identities across UE, RAN, and Core.</li>
                    <li>Avoiding outages (e.g., adhere to US utility measurement - SAIDI index for reliability (IEEE
                        1366))</li>
                </ul>
                <p>2.1.3 &nbsp;To quantify these capabilities’ value, we used a formula, looking at the overall security
                    measurements of an organization for securing its overall network (IT/OT/Private cellular), and at
                    the cost of downtime, adapted to the network size.</p>

            </div>
            <div class="bg2 p-5 mb-3">
                <p class="fw-bold">Last, we defined the saving associated with OneLayer’s solution (% Year) or the % of
                    the calculated NBA that can be saved using OneLayer’s solution.
                    For this measurement (2.1), we estimate the savings that can be contributed to OneLayer’s solution,
                    by reducing the time it takes to find a malfunctioning device in the organization’s private cellular
                    network. (Other parts are covered by the customer’s existing security tools and services, covering
                    its IT/OT networks, and by some other components of the private cellular ecosystem).</p>
            </div>
            <div class="content my-5">
                <h4 class="mb-3">2.2. Enhanced Network Performance</h4>
                <p>2.2.1.&nbsp; The pain: Service availability and eliminating outages are top priorities for Utility.
                </p>
                <p>2.2.2.&nbsp;With OneLayer’s solution, you’ll find malfunctioning devices and resolve network issues
                    faster across your private cellular network and enhance your network’s overall performance.</p>
                <p>OneLayer product provides the following capabilities and value, and much more:</p>
                <ul class="ms-5">
                    <li>Reduction in Network Disruption (Increased stability, resolution time improvement)</li>
                    <li>Maximize device performance over existing network infrastructure</li>
                    <li>Avoiding outages (e.g., adhering to US utility measurement – SAIDI index for reliability (IEEE
                        1366))</li>
                </ul>
                <p>2.2.3.&nbsp; To quantify these capabilities’ value, we used a formula, that looks at the overall
                    security measurements of an organization for securing its overall network (IT/OT/Private cellular),
                    and at the cost of downtime, adapted to the network size.</p>
            </div>
            <div class="bg2 p-5 mb-3">
                <p class="fw-bold">Last, we defined the saving associated with OneLayer’s solution (% Year) or the % of
                    the calculated NBA that can be saved using OneLayer’s solution.
                    For this measurement (2.2), we estimate the savings that can be contributed to OneLayer’s solution,
                    by reducing the time it takes to find a malfunctioning device in the organization’s private cellular
                    network. (Other parts are covered by the customer’s existing security tools and services, covering
                    its IT/OT networks, and by some other components of the private cellular ecosystem).
                </p>
            </div>
            <div class="content my-5">
                <h4 class="mb-3">2.3.&nbsp; Improved Ability to Automate</h4>
                <p>2.3.1 &nbsp; The pain: Utility modernization requires the advancement of automation. Modernizing the
                    network is a crucial step forward in building the foundation for digital transformation. It is
                    IT/OT/Connectivity leaders’ responsibility to plan and execute their organization's network
                    modernization plan to unleash the potential of advanced automation.</p>
                <p>2.3.2.&nbsp;With OneLayer’s solution, you’ll gain automation benefits across your private cellular
                    network.</p>
                <p>OneLayer product provides the following capabilities and value, and much more:</p>
                <ul class="ms-5">
                    <li>Cost saving of automating processes by adopting new security tool</li>
                    <li>Enhances capabilities and reduces operational costs through processes automation</li>
                    <li>Scale – one to many, easy to update and manage</li>
                    <li>Auto activity, One touch provisioning </li>
                    <li>OneLayer’s solution and professionals help organizations realize additional benefits and use
                        cases. Helping customers create segmentation policies and performing any automation or
                        customized tasks</li>
                </ul>
                <p>2.3.3 &nbsp; To quantify these capabilities’ value, we used a formula, looking at a security budget
                    of an organization for securing its private cellular network. And the specific budget parts related
                    to relevant security services.</p>
            </div>
            <div class="bg2 p-5 mb-3">
                <p class="fw-bold">Last, we defined the saving associated with OneLayer’s solution (% Year) or the % of
                    the calculated NBA that can be saved using OneLayer’s solution.
                    For this measurement (2.3), we estimate the savings that can be contributed to OneLayer’s solution,
                    by automated processes provided with the tool, and by automating new use cases. (Other parts are
                    covered by the customer’s existing security tools and services, and by some other components of the
                    private cellular ecosystem). </p>
            </div>
            <div class="content my-5">
                <h4 class="mb-3">2.4 &nbsp; Minimized Operations and Maintenance (O&M) Cost</h4>
                <p>2.4.1 &nbsp; The pain: Utilities are spending more and more money on operations and maintenance
                    (O&M). Billions of dollars are spent on O&M for everything from maintenance to repairs, etc. Utility
                    attention to O&M makes sense. Many utilities need to pay attention to speedy and effective
                    maintenance of their existing systems because so much of the infrastructure is worn and outdated.
                    O&M is also essential for utilities to reduce the number and length of power outages.</p>
                <p>2.4.2 &nbsp; With OneLayer’s software-based solution and geo-based capabilities, you’ll reduce the
                    private cellular network O&M costs.</p>
                <p>OneLayer product provides the following capabilities and value, and much more:</p>
                <ul class="ms-5">
                    <li>Software-based solution can be installed on-premises, cloud, or hybrid. It avoids the need to
                        provision additional on-premises software, hardware, or log storage, lowering OPEX and CAPEX.
                    </li>
                    <li>Reduction of costs around physical maintenance, with geofencing and geo-tracking, we could also
                        reduce costs and time to identify where a physical device is located when there's a need to do
                        some maintenance physically</li>
                </ul>
                <p>2.4.3 &nbsp; To quantify these capabilities’ value, we used a formula, looking at a security budget
                    of an organization for securing its private cellular network. And the specific budget parts related
                    to relevant security services.</p>
            </div>
            <div class="bg2 p-5 mb-3">
                <p class="fw-bold">Last, we defined the saving associated with OneLayer’s solution (% Year) or the % of
                    the calculated NBA that can be saved using OneLayer’s solution.
                    For this measurement (2.4), we estimate the savings that can be contributed to OneLayer’s solution,
                    by using a software-based solution and providing geo-based capabilities, which reduces maintenance
                    costs. (Other parts are covered by the customer’s existing security tools and services, and by some
                    other components of the private cellular ecosystem).
                </p>
            </div>
            <div class="content my-5">
                <h4 class="mb-3">2.5 &nbsp; Reduced Expansion Cost/Improved Ability to Scale</h4>
                <p>2.5.1 &nbsp; The pain: Utilities that are trying to reinvent themselves as digital enterprises have
                    found it hard to scale up from digital pilots. Adopting digital ways of working and modernizing IT
                    will accelerate transformation.</p>
                <p>2.5.2 &nbsp; With OneLayer’s solution, organizations will be able to reduce the cost of migration for
                    new use cases to the private cellular network. They will also gain increased scalability.</p>
                <p>OneLayer product provides the following capabilities and value, and much more:</p>
                <ul class="ms-5">
                    <li>This measurement Includes the reduced cost of migration of new use cases from other networks to
                        this one (other legacies wireless) and decreased marginal operating costs to connect additional
                        devices</li>
                    <li>Add new systems/migrations/upgrades. These are cost savings that happen when we allow for
                        increased scalability (changes in market conditions - scale up and down) without any fixed cost
                    </li>
                </ul>
                <p>2.5.3 &nbsp; To quantify these capabilities’ value, we used a formula, looking at a security budget
                    of an organization for securing its private cellular network. And the specific budget parts related
                    to relevant security services.</p>
            </div>
            <div class="bg2 p-5 mb-3">
                <p class="fw-bold">Last, we defined the saving associated with OneLayer’s solution (% Year) or the % of
                    the calculated NBA that can be saved using OneLayer’s solution.
                    For this measurement (2.5), we estimate the savings that can be contributed to OneLayer’s solution,
                    by reducing the cost of migration for new use cases and providing increased scalability. (Other
                    parts are covered by the customer’s existing security tools and services, and by some other
                    components of the private cellular ecosystem).
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="roi shadow p-4 sticky-top">
                <h3>Return on<br> Investment (ROI)</h3>
                <h2>{{data.returnOfinvestDis}}%</h2>
                <div class="col-7 mt-5 img_cls1" *ngIf="data.D70!=data.expectedDevice">
                    <div class="verticalLine">
                        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions">
                        </highcharts-chart>
                        <hr style="width: 275px;" />
                        <span class="span2" *ngIf="data.returnOfinvestDis<=300">100%</span>
                        <span class="span2" *ngIf="data.returnOfinvestDis>300">300%</span>
                        <span class="span22">{{data.returnOfinvestDis}}%</span>
                        <span class="span233">{{data5Y.returnOfinvestDis5Y}}%</span>
                        <span class="span23" *ngIf="data5Y.returnOfinvestDis5Y>=400">600%</span>
                        <span class="span23" *ngIf="data5Y.returnOfinvestDis5Y>=600">800%</span>
                        <span class="span23" *ngIf="data5Y.returnOfinvestDis5Y>=800">1000%</span>
                        <span class="span23" *ngIf="data5Y.returnOfinvestDis5Y<400">400%</span>
                        <span class="span1">{{ ''| datePipe }}</span>
                        <span class="span3">{{ (''| datePipe)+1 }}</span>
                        <span class="span4">{{ (''| datePipe)+2 }}</span>
                        <span class="span5">{{ (''| datePipe)+3 }}</span>
                        <span class="span6">{{ (''| datePipe)+4 }}</span>
                        <span class="span7">{{ (''| datePipe)+5  }}</span>

                    </div>
                </div>
                <br />
                <div>
                    <img class="rounded  w-100" src="assets/icons/pdf-paper.png" alt="">
                </div>
                <div class=" pdf-download d-flex justify-content-between align-items-center pt-3">
                    <span class="text-secondary" style="cursor: pointer;"><img src="assets/icons/pdf.svg" width="24"
                            alt=""> PDF Summary</span>
                    <span><a type="button" class="text-uppercase text-decoration-none" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" data-bs-target="#exampleModal">Send Report</a></span>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <!-- <div class="send-report">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="row">
            <div class="col-md-6 p-4 ">
                <div class="d-flex gap-2 mb-5 align-items-cener px-3">
                    <img src="assets/icons/pdf.svg" class="" width="30" alt="" />
                    <h4 class="mb-0">Send PDF Report</h4>
                </div>
                <form class="pt-3 px-3" action="" method="get">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter Your Email " required="required">
                    </div>
                    <div class="mb-3">
                        <label for="company" class="form-label">Company Name:</label>
                        <input type="text" class="form-control" id="company" placeholder="Type company name...">
                      </div>
                      <div class="mb-3">
                        <label class="picture" for="picture__input" tabIndex="0">
                            <span class="picture__image">Drop Logo Here or &nbsp;</span>
                            <span>choose file</span>
                          </label>
                        <input type="file" class="form-control" id="picture__input">
                      </div>
                    <button type="submit" class="btn btn-primary w-100 border-0">Submit</button>
                  </form>
            </div>
            <div class="col-md-6 p-0 report-img">   
                <button type="button" class="btn-close float-end p-4" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div> -->
</section>