/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0;
font-family: maison;}
@font-face {
    font-family: maison;
    src: url(./assets/fonts/Maison-Bold.woff);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-button-toggle-button {
    line-height: 10px;
  }

  .roi h3 {
    color: rgba(0, 71, 52, 1);
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;    
}

.send-report .modal-body h4{
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  color: #004734;
}
.send-report .report-img{
  background-image: url('assets/icons/A4-Paper.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.send-report .modal form button{
  border-radius: 4px;
  background: linear-gradient(269deg, #FF4801 9.32%, #FF8556 98.39%);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.20);
}
.send-report form .form-label{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; 
  color: #000;
  opacity: 52%;
}
#picture__input {
  display: none;
}
.picture {
  width: 100%;
  height: 115px;
  aspect-ratio: 16/9;
  /* background: #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  /* transition: color 300ms ease-in-out, background 300ms ease-in-out; */
  outline: none;
  overflow: hidden;
}
.picture span:last-child{
  color: #FF4801;
  text-decoration: underline;
}

.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}