<section class="py-5">
  <div class="row">
    <div class="col-8 pe-5">
      <div>
        <h1>5. Simplify Regulatory Compliance</h1>
        <p>Adoption of private cellular infrastructure is accelerating in heavily regulated industries, such as the
          energy sector, as they push to digitize their operations. However, this can complicate auditing and
          compliance, creating exposure to possible fines measured in the millions of dollars. OneLayer provides the
          necessary visibility and control to extend compliance strategies to cellular infrastructure.</p>
      </div>
      <div class="bg1 px-5 py-4 p-4 mb-3">
        <span class="text-uppercase fw-bold mb-4 d-block">Business Impact</span>
        <p>Simplifies adherence to security regulations and standards with granular cellular policy controls.</p>
        <p>Reduces third-party and in-house auditing resource costs through enhanced visibility and clearly cataloged
          data.</p>
        <p>Provides evidence of compliance with service level agreements through detailed tracking and traceability.</p>
        <p>Ensures that all user and device data is managed in accordance with data privacy regulations.</p>
      </div>

      <div class="content my-5">
        <h4 class="mb-3">5.1&nbsp; Ensured Compliance with Regulators and Standards (Non-Data Specific)</h4>
        <p>5.1.1 &nbsp; The pain: Private cellular network adoption accelerates in regulated industries, such as
          utility, as they move forward to digitizing their operations. However, this can complicate auditing and
          compliance, creating exposure to possible fines measured in the millions of dollars. </p>
        <p>5.1.2 &nbsp;With OneLayer’s solution, you’ll get the necessary visibility and control to extend compliance
          strategies to cellular infrastructure.</p>
        <p>OneLayer product provides the following capabilities and value, and much more:</p>
        <ul class="ms-5">
          <li>OneLayer provides the necessary visibility and control to extend compliance strategies to cellular
            infrastructure and ensures compliance with regulations, standards, and frameworks, like NERC CIP, NIST,
            SAIDI index for reliability (IEEE 1366)), etc.</li>
          <li>• The solution helps eliminate fines for violations, e.g., of NW uptime and security. For example, fines
            are around $1M per day when NERC-CIP is violated.</li>
          <li>• The solution can help change, for example, the priority of service for specific devices to support
            regulations around disasters and additional cases</li>
          <li>Simplifies adherence to security regulations and standards with granular cellular policy controls</li>
        </ul>

        <p>5.1.3 &nbsp;To quantify these capabilities’ value, we used a formula, that looks at the overall security
          measurements of an organization for securing its overall network (IT/OT/Private cellular), and at the
          regulation violation costs, adapted to the network size.</p>
      </div>
      <div class="bg2 p-5 mb-3">
        <p class="fw-bold">Last, we defined the saving associated with OneLayer’s solution (% Year) or the % of the
          calculated NBA that can be saved using OneLayer’s solution.
          For this measurement (5.1), we estimate the savings that can be contributed to OneLayer’s solution, by
          providing the necessary visibility and control to extend compliance strategies to cellular infrastructure.
          (Other parts are covered by the customer’s existing tools and services and by some other components of the
          private cellular ecosystem).
        </p>
      </div>
      <div class="content my-5">
        <h4 class="mb-3">5.2. Reduced Consultancy Audit Costs and In-House Personnel</h4>
        <p>5.2.1 &nbsp; The pain: Regulatory expectations have increased for heavily regulated industries such as
          utility. Heavy penalties are waiting for non-compliance with existing rules. And one thing is clear: The cost
          of compliance is a heavy burden.</p>
        <p>5.2.2 &nbsp; With OneLayer’s solution, you’ll get clear and comprehensive visibility into your data, which
          will help in reducing auditing efforts and costs.</p>
        <p>OneLayer product provides the following capabilities and value, and much more:</p>
        <ul class="ms-5">
          <li>Less auditing is required if data for the majority of regulations is available, cataloged, and maintained
          </li>
          <li>Reduces third-party and in-house auditing resource costs through enhanced visibility and clearly cataloged
            data.</li>
        </ul>
        <p>5.2.3 &nbsp; To quantify these capabilities’ value, we used a formula, looking at a security budget of an
          organization for securing its private cellular network. And the specific budget parts related to relevant
          security services.</p>

      </div>
      <div class="bg2 p-5 mb-3">
        <p class="fw-bold">Last, we defined the saving associated with OneLayer’s solution (% Year) or the % of the
          calculated NBA that can be saved using OneLayer’s solution.
          For this measurement (5.2), we estimate the savings that can be contributed to OneLayer’s solution, by
          providing clear and comprehensive visibility into your data, which will help in reducing auditing efforts and
          costs. (Other parts are covered by the customer’s existing security tools and services, and by some other
          components of the private cellular ecosystem).
        </p>
      </div>
      <div class="content my-5">
        <h4 class="mb-3">5.3. Affirmed Traceability to Service Level Agreements (SLAs)</h4>
        <p>5.3.1. &nbsp; The Pain: High-quality customer service is vital to any business. Ensuring the customer is
          confident, happy, and feeling positive is key to long-lasting customer loyalty, satisfaction, and retention.
          The question is, how do you measure and make sure that your customers will receive the best quality service?
        </p>
        <p>5.3.2 &nbsp; With OneLayer’s solution, you’ll get detailed real-time tracking and traceability of your
          private cellular network and the devices using this network, including uptime, failures, and other
          measurements influencing your SLA, and evidence of compliance with SLAs.</p>
        <p>OneLayer product provides the following capabilities and value, and much more:</p>
        <ul class="ms-5">
          <li>OneLayer solution provides clear uptime/failures/etc. Indicators that impact SLAs and Regulation +
            Compliance.</li>
          <li>E.g., avoiding outages – SAIDI index for reliability (IEEE 1366))</li>
          <li>The solution provides evidence of compliance with service-level agreements through detailed tracking and
            traceability.</li>
        </ul>
        <p>5.3.3 &nbsp; To quantify these capabilities’ value, we used a formula, that looks at the overall security
          measurements of an organization for securing its overall network (IT/OT/Private cellular), and at the
          SLA-related measurements, adapted to the network size.</p>

      </div>
      <div class="bg2 p-5 mb-3">
        <p class="fw-bold">Last, we defined the saving associated with OneLayer’s solution (% Year) or the % of the
          calculated NBA that can be saved using OneLayer’s solution.
          For this measurement (5.3), we estimate the savings that can be contributed to OneLayer’s solution, by
          providing detailed real-time tracking and traceability of your private cellular network and the devices using
          this network, including uptime, failures, and other measurements influencing your SLA, and evidence of
          compliance with SLAs. (Other parts are covered by the customer’s existing tools and services, and by some
          other components of the private cellular ecosystem).
        </p>
      </div>
      <div class="content my-5">
        <h4 class="mb-3">5.4. Improved Privacy and Data Management (Data Specific)</h4>
        <p>5.4.1 &nbsp; The Pain: Data governance has become an increasingly important topic in the utility industry as
          companies generate and manage vast amounts of data related to customer information, asset management,
          consumption patterns, and regulatory compliance. </p>
        <p>5.4.2 &nbsp; With OneLayer’s solution, it will be easier to improve the governance of your private cellular
          network data and ensure compliance with regulatory requirements.</p>
        <p>OneLayer product provides the following capabilities and value, and much more:</p>
        <ul class="ms-5">
          <li>Context-based visibility: Real-time identification and fingerprinting of all cellular network devices,
            including device type, location, activity, inter-networks identity matching, and more</li>
          <li>Granular visibility and control of user plane for timely detection of the anomalous behavior of cellular
            devices and traffic, and response and remediation of misconfigurations and malicious activities</li>
          <li>Fault Detection and Diagnosis: identifying and diagnosing equipment faults to reduce downtime. (To ensure
            the accuracy and reliability of data used in fault detection, it is important to have a data governance
            framework that includes data quality controls, data privacy policies, and regular data audits.)</li>
          <li>Asset management: Data governance plays a critical role in optimizing asset management in energy and
            utilities. By managing asset data effectively, companies can optimize maintenance schedules, reduce
            downtime, and ensure regulatory compliance.</li>
          <li>Regulatory compliance: Compliance with regulations is a top priority for energy and utility companies.
            Data governance can help these companies comply with regulatory requirements by managing sensitive data,
            ensuring data privacy, and maintaining data security.</li>
          <li>OneLayer solution ensures that all user and device data is managed in accordance with data privacy
            regulations</li>
          <li>Supports user and device data retention processes (add/remove)
            and interaction
          </li>
        </ul>
        <p>5.4.3 &nbsp; To quantify these capabilities’ value, we used a formula, that looks at the overall security
          measurements of an organization for securing its overall network (IT/OT/Private cellular), and at the cost of
          a data breach, adapted to the network size.</p>

      </div>
      <div class="bg2 p-5 mb-3">
        <p class="fw-bold">Last, we defined the saving associated with OneLayer’s solution (% Year) or the % of the
          calculated NBA that can be saved using OneLayer’s solution.
          For this measurement (5.4), we estimate the savings that can be contributed to OneLayer’s solution, by
          improving the governance of your private cellular network data, and ensuring compliance with regulatory
          requirements. (Other parts are covered by the customer’s existing tools and services, and by some other
          components of the private cellular ecosystem).
        </p>
      </div>
      <div>
        <p class="fw-bold">To summarize, OneLayer Maximizes the ROI of Private LTE/5G Networks by improving
          cybersecurity management efficiency and effectiveness, optimizing operations and performance management,
          increasing supply chain speed efficiency, developing specialized organizational knowledge and skills, and
          simplifying regulatory compliance.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="roi shadow p-4 sticky-top">
        <h3>Return on<br> Investment (ROI)</h3>
        <h2>{{data.returnOfinvestDis}}%</h2>
        <div class="col-7 mt-5 img_cls1" *ngIf="data.D70!=data.expectedDevice">
          <div class="verticalLine">
            <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions">
            </highcharts-chart>
            <hr style="width: 275px;" />
            <span class="span2" *ngIf="data.returnOfinvestDis<=300">100%</span>
            <span class="span2" *ngIf="data.returnOfinvestDis>300">300%</span>
            <span class="span22">{{data.returnOfinvestDis}}%</span>
            <span class="span233">{{data5Y.returnOfinvestDis5Y}}%</span>
            <span class="span23" *ngIf="data5Y.returnOfinvestDis5Y>=400">600%</span>
            <span class="span23" *ngIf="data5Y.returnOfinvestDis5Y>=600">800%</span>
            <span class="span23" *ngIf="data5Y.returnOfinvestDis5Y>=800">1000%</span>
            <span class="span23" *ngIf="data5Y.returnOfinvestDis5Y<400">400%</span>
            <span class="span1">{{ ''| datePipe }}</span>
            <span class="span3">{{ (''| datePipe)+1 }}</span>
            <span class="span4">{{ (''| datePipe)+2 }}</span>
            <span class="span5">{{ (''| datePipe)+3 }}</span>
            <span class="span6">{{ (''| datePipe)+4 }}</span>
            <span class="span7">{{ (''| datePipe)+5 }}</span>

          </div>
        </div>
        <br />
        <div>
          <img class="rounded  w-100" src="assets/icons/pdf-paper.png" alt="">
        </div>
        <div class=" pdf-download d-flex justify-content-between align-items-center pt-3">
          <span class="text-secondary" style="cursor: pointer;"><img src="assets/icons/pdf.svg" width="24" alt=""> PDF
            Summary</span>
          <span><a type="button" class="text-uppercase text-decoration-none" data-bs-toggle="modal"
              data-bs-target="#exampleModal" data-bs-target="#exampleModal">Send Report</a></span>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <!-- <div class="send-report">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="row">
              <div class="col-md-6 p-4 ">
                  <div class="d-flex gap-2 mb-5 align-items-cener px-3">
                      <img src="assets/icons/pdf.svg" class="" width="30" alt="" />
                      <h4 class="mb-0">Send PDF Report</h4>
                  </div>
                  <form class="pt-3 px-3" action="" method="get">
                      <div class="mb-3">
                        <label for="email" class="form-label">Email address:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Your Email " required="required">
                      </div>
                      <div class="mb-3">
                          <label for="company" class="form-label">Company Name:</label>
                          <input type="text" class="form-control" id="company" placeholder="Type company name...">
                        </div>
                        <div class="mb-3">
                          <label class="picture" for="picture__input" tabIndex="0">
                              <span class="picture__image">Drop Logo Here or &nbsp;</span>
                              <span>choose file</span>
                            </label>
                          <input type="file" class="form-control" id="picture__input">
                        </div>
                      <button type="submit" class="btn btn-primary w-100 border-0">Submit</button>
                    </form>
              </div>
              <div class="col-md-6 p-0 report-img">   
                  <button type="button" class="btn-close float-end p-4" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div> -->
</section>